/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*

Grid

*/
*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
}
/*
clear fix
*/
.group::before,
.group::after{
    content:"" ;
    display: table;
}
.group::after{
    clear: both;
    *zoom:1;
}
.col-1-3{
    width: 200px;
 }
 .col-2-3{
    width: 300px;
 }
 .col-1-3{
    display: inline;
    vertical-align: middle;

 }
 .col-2-3{
    display: inline-block;
 }
 .col-1-3,
 .col-2-3{
    padding-left: 20px;
    padding-right: 20px;
    }
    .logo{
        text-align: center;
    }
    .link{
        float: right;

    }
    header p{
        text-align: center;
    }
    .link ul li {
        display: inline-block;
    }
    footer{
        vertical-align: bottom;
    }
    .first-div{
        text-align: center;
    }
    .down-pge{
        color: #fff;
        font-size: 14px;
        padding-bottom: 44px;
        padding-top: 44px;
    }
    .head{
        width: auto;
        padding:20px;
        background-color: #696969;
    }
    .foot{
        background-color: #696969;
    }
    .jpeg{
        height: 400px;
        width: 200Px;
        border-radius: 5px;
    }
    .product{
        border-radius: 5px;
        padding: 1px;
    }
    h3{
        border: 40px;
        padding: 40px;
        text-align: center;
    }
    h2{
        text-align: center;
        padding: 20px;
        border: 20px;
        letter-spacing:5px;
        text-transform: uppercase;
        color: #648880;
        font-size: 20px;
        font-weight: 400;
        font:"lato",open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .supplier{
        padding: 20px;
        border: 20px;
        text-align: center;
        display: inline-block;
    }
    .supplier-info li {
        font-size: 14px;
        text-transform: lowercase;
        font-weight: 200;
        letter-spacing: 5px;
        text-align: center;
        line-height: 15px;
        color: #648880;
        font:"lato",open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        
    }
       h5{
        padding: 20px;
        border: 20px;
        letter-spacing: 10px;
        color: darkslategrey;
    }
    .first-div{
        width: 1400px;
    }
    .third-div ul{
        text-align: center;
    }
    ul li{
        padding: 10px;
        border: 10px;
        text-align: center;
        letter-spacing: 7px;
        font-size: 15px;
        font-weight: 400px;
        line-height: 10px;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .small{
     text-align: left;
     vertical-align: bottom;
     font-size: 15px;
     color: azure;

    }
    /*

Buttons

*/

.button {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight:bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 3PX solid yellow;
    padding: 20px;
}
/*
    links
    */
    a{
        color:azure;
    }
    a:hover{
        color: #a9b2b9;
    }
    .logo{
        font-size: 48px;
        color: azure;
        line-height: 44px;
        padding: 40px 0 22px 0;
        font-weight: 100;
        letter-spacing: 5px;
        text-transform: uppercase;
        font:"lato",open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .head p{
        font-size: 20px;
        color: azure;
        padding: 20px;
        border: 20px;
        letter-spacing: 10px;
        text-transform: lowercase;
        font-weight: bold;
        font:"lato",open sans","Helvetica Neue",Helvetica,Arial,sans-serif;

    }
    .link{
        border: 0;
        padding: 0;
    }
    h4,
    p,
    h3{
        font-family: 'Courier New', Courier, monospace;
    }
    .main-sec{
        background-color: #c0c0c0;
    }
    .supplier-sec{
        background-color: #c0c0c0;
        display: inline-block;
        width: 1348px;
        text-align: center;
    }
    .men{
        display: inline-block;
        width: 800px;
    }
    .image{
        width:1350px;
        height: 700px;
        padding: 0;
        margin: 0;
    }
    .welcome{
        text-align: center;
        font-size: 70px;
        color:#fff;
        line-height: 70px;
        padding: 40px 0 22px 0;
        font-weight: 100;
        letter-spacing: 10px;
        text-transform: uppercase;
        font:"lato",open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .girl{
        background-image: url("asset/girl.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .order{
        background-image: url("asset/shop3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 100px;
        padding: 100px;
        width: 800;

    }
    P,
    h4{
        padding: 10px;
        border: 10px;
        letter-spacing: 5PX;
        line-height: 20PX;
        font-weight: 800;
    }
    h3{
        padding: 5PX;
        border: 5PX;
        letter-spacing: 4PX;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;

    }
    
    
